

<div class="container">
  <!-- Forum Input-->
    <h2 class="headingtitle">Forums </h2>
    <!-- Displays Posts -->
    <div class="row" style="margin-top: 25px;">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;" *ngFor="let item of forums">
          <div class="card-body" *ngIf="!item.isEdit; else elseBlock">
            <h5 class="card-title">{{item.PostContent}}</h5><br>
            <h6 class="card-subtitle mb-2 text-muted">User: {{item.PostName}} </h6>
            <a class="card-link" (click)="EditPost(item)">Edit</a>
            <a class="card-link" (click)="RemovePost(item.id)">Delete</a>
          </div>
</div>

