<div class="row pt-5">
    <div class="col-md-5 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <!-- Sign In Input-->
                <h3 class="mb-0">Sign In</h3>
            </div>
            <div class="card-body">
                <label>Email:</label>
                <!--Input for Email-->
                <input type="text" class="form-control rounded-0" style="width: 30rem;" #email/>
                <p></p>
                <label>Password:</label>
                <!--Input for Password-->
                <input type="text" class="form-control rounded-0" style="width: 30rem;" #password/>
                <!-- Submit Button-->
                <button (click)="onSignIn(email.value,password.value)" class="btn btn-dark float-right" style="background-color: #E10000">Sign In</button>
            </div>
        </div>
    </div>
</div>