
<div class="container">
      <!-- Displays Posts -->
      <div class="row" style="margin-top: 25px;">
        <div class="col-md-3">
          <div class="card" style="width: 80rem;" >
            <div class="card-body">
                <h5 class="card-title">Title: {{postTitle}}</h5><br>
                <h5 class="card-title">Content: {{postContent}}</h5><br>
                <h6 class="card-title">by: {{postName}}</h6><br>
           <!--   <a class="card-link" (click)="EditPost(item)">Edit</a>
              <a class="card-link" (click)="RemovePost(item.id)">Delete</a>--> 
            </div>
      <!-- Edit menu-->
      <ng-template #elseBlock>
        <div class="card-body">
          <h5 class="card-title">Edit</h5>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.PostContent" placeholder="edit name">
                </div>
              </div>
            </div>
          <!-- Buttons -->
          <a class="card-link" (click)="item.isEdit = false">Cancel</a>
          <a  class="card-link" (click)="UpdatePost(item)">Update</a>
        </div>
      </ng-template>
  </div>
</div>
