<div class="container">
  <!-- Header-->
  <button (click)="create()" class="btn btn-dark float-center" style="background-color: #E10000">Create Character</button>
  <button (click)="message()" class="btn btn-dark float-center" style="background-color: #E10000">Messaging</button>
  <h1 style="margin-top: 25px;"></h1>

<div class="card rounded-0">
  <div class="card-header">
    <h3 class="mb-0">Create Your Own Character</h3>
  </div>
<!-- End of Header-->
  <div class="card-body">
    <p></p>
    <!-- Submit Button -->
    <button type="button" (click)="CreateRecord()" [disabled]="!userName || !userLevel || !userCharacter" 
      class="btn btn-dark float-right" style="background-color: #E10000">Create</button>
  <div class="row" style="margin-top: 25px;">

    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="postContent" placeholder="Character">
      <!-- Add Ng for to add options to select-->
      <select>
        <option ng-repeat="class in classes"class="form-control" style="width: 10rem;" [(ngModel)]="postContent" placeholder="">{{classes}}</option>
      </select>
    </div>
    
    <div class="col-md-3">
      <select>
         <option ng-repeat="level in levels" placeholder="3"></option> 
      </select>*
    </div>
  </div>

  <div class="row" style="margin-top: 25px;">
    <div class="col-md-3">
      <div class="card" style="width: 18rem;" *ngFor="let item of characters">
        <div class="card-body" *ngIf="!item.isEdit; else elseBlock">
          <h5 class="card-title">{{item.Name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Level: {{item.Level}} Level</h6>
          <p class="card-text">Character: {{item.Character}}</p>
          <a class="card-link" (click)="EditRecord(item)">Edit</a>
          <a class="card-link" (click)="RemoveRecord(item.id)">Delete</a>
        </div>
      <!-- Edit -->
        <ng-template #elseBlock>
          <div class="card-body">
            <h5 class="card-title">Edit</h5>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditName" placeholder="Edit Name">
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditLevel" placeholder="Edit Level">
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditCharacter" placeholder="Edit Character">
                </div>
              </div>
            </div>
          <!-- Submit -->
            <a class="card-link" (click)="item.isEdit = false">Cancel</a>
            <a class="card-link" (click)="UpdateRecord(item)">Update</a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div> 