<div class="container mt-5" style="max-width: 600px">
  <!-- Welcome -->
      <div class="row" *ngIf="afs.userState as user">
        <div class="media">
          <img class="align-self-start mr-5 img-thumbnail rounded-circle"
            src="{{(user.photoURL) ? user.photoURL : '/assets/dummy.jpg'}}" alt="{{user.email}}">
          <div class="media-body">
            <h2>Hi: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h2>
            <p>User ID: <strong>{{user.uid}}</strong></p>
            <p>Email: <strong>{{user.email}}</strong></p>
          </div>
        </div>
      </div>
   
      <a class="btn btn-block btn-primary" (click)="afs.SignOut()">
        Sign Out
      </a>
   
  </div>
<div class="container">


  <!-- Header-->
  <button (click)="create()" class="btn btn-dark float-center" style="background-color: #E10000">Create Character</button>
  <button (click)="message()" class="btn btn-dark float-center" style="background-color: #E10000">Messaging</button>
  <h1 style="margin-top: 25px;"></h1>

<div class="card rounded-0">
  <div class="card-header">
    <h3 class="mb-0">Display Player Characters</h3>
  </div>

  <div class="row p-5" style="margin-top: 25px;">
    <div class="col-md-3 ml-5">
      <div class="card" style="width: 50rem;" *ngFor="let item of characters">
        <div class="card-body" *ngIf="!item.isEdit; else elseBlock">
          <h5 class="card-title">{{item.Name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Level: {{item.Level}} Level</h6>
          <p class="card-text">Character: {{item.Character}}</p>
          <p class="card-text">Race: {{item.Race}}</p>
          <p class="card-text">Background: {{item.Background}}</p>
          <p class="card-text">Class: {{item.Class}}</p>
          <a class="card-link float-right" (click)="RemoveRecord(item.id)">Delete</a>
          <a class="card-link mr-3 float-right" (click)="EditRecord(item)">Edit</a>
        </div>
      <!-- Edit -->
        <ng-template #elseBlock>
          <div class="card-body">
            <h5 class="card-title">Edit</h5>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditName" placeholder="Edit Name">
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditLevel" placeholder="Edit Level">
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditCharacter" placeholder="Edit Character">
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditRace" placeholder="Edit Race">
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditBackground" placeholder="Edit Background">
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.EditClass" placeholder="Edit Class">
                </div>
              </div>
            </div>
          <!-- Submit -->
          <a class="card-link float-right" (click)="UpdateRecord(item)">Update</a>
            <a class="card-link mr-3 float-right" (click)="item.isEdit = false">Cancel</a>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div> 