<div class="container row pt-5" style="color: black">
  <div class="col-md-6 mx-auto">
    <!-- Forum Input-->
    <h2 class="headingtitle">Forums </h2>
    <label style="color: #E10000"><h3><b>Welcome {{this.ngAuthService.userState.displayName}} to the Adventurers Inn</b></h3></label>
  </div>
</div>

<form #postForm="ngForm" (ngSubmit)="CreatePost(postForm.value)">
  <div class="row pt-5" style="color: black">
    <div class="col-md-9 mx-auto">
      <div class="col-md-6 ml-5">
        <div class="col-md-0 ml-2">
          <div class="card rounded-1">
            <div class="card-header">
              <!-- Post-->
              <h3 class="mb-0">Post: </h3>
            </div>
            <div class="card-body">
              <div>
                <label>Title:</label>
              </div>
              <!-- Input Title -->
              <textarea id="postTitle" class="contenttextarea" name = "postTitle"  [(ngModel)]="postTitle" ngModel required></textarea><br>
              <p></p>
              <div>
              <label>Content:</label>
              <!-- Input Content -->
            </div>
              <textarea id="content" class="contenttextarea" name = "postContent"  [(ngModel)]="postContent" ngModel required></textarea><br>
              <p></p>
              <button type="submit" class="postbutton btn btn-dark float-right"  style="background-color: #E10000">Send Post</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="container">
      <!-- Displays Posts -->
      <div class="row" style="margin-top: 25px;">
        <div class="col-md-3">
          <div class="card" style="width: 18rem;" *ngFor="let item of forums">
            <div class="card-body" *ngIf="!item.isEdit; else elseBlock">
              <h5 class="card-link" (click)= "GetPost(item)">{{item.PostTitle}}</h5><br>
              <a class="card-link" (click)="EditPost(item)">Edit</a>
             <a class="card-link" (click)="RemovePost(item,item.id)">Delete</a>
          </div>
      <!-- Edit menu-->
      <ng-template #elseBlock>
        <div class="card-body">
          <h5 class="card-title">Edit</h5>
            <div class="form-group">
              <div class="row">
                <div class="col-md-12">
                  <input type="text" class="form-control" [(ngModel)]="item.PostTitle" placeholder="edit name">
                  <input type="text" class="form-control" [(ngModel)]="item.PostContent" placeholder="edit name">
                </div>
              </div>
            </div>
          <!-- Buttons -->
          <a class="card-link" (click)="item.isEdit = false">Cancel</a>
          <a  class="card-link" (click)="UpdatePost(item)">Update</a>
        </div>
      </ng-template>
  </div>
</div>
