<div class="row pt-5">
    <div class="col-md-5 mx-auto">
        <div class="card rounded-0">
            <div class="card-header">
                <!-- Sign Up Input-->
                <h3 class="mb-0">Sign Up</h3>
            </div>
            <div class="card-body">
                <label>Email:</label>
                <!--Input for Email-->
                <input type="text" class="form-control rounded-0" style="width: 30rem;" #emailSignUp  [(ngModel)]="userEmail"/>
                <p></p>
                <label>Password:</label>
                <!--Input for Password-->
                <input type="text" class="form-control rounded-0" style="width: 30rem;" #passwordSignUp/>
                <!-- Submit Button-->
                <button (click)="onSignUp(emailSignUp.value,passwordSignUp.value)" class="btn btn-dark float-right" style="background-color: #E10000">Sign Up</button>
            </div>
        </div>
    </div>
</div>