<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #E10000">
  <a class="navbar-brand" href="#">AdventuersInn</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <!-- links to routes for pages in nav-bar -->
          <li class="nav-item">
              <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/forum" routerLinkActive="active">Forums</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/social" routerLinkActive="active">Groups</a>
          </li>
          <li>
            <input type="text"  placeholder="Search...">
          </li>
          
      </ul>
      <ul class="navbar-nav">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">My Profile</a>
          <a class="nav-link" routerLink="/sign-in"  *ngIf="!fireService.isLoggedIn" routerLinkActive="active">Sign-In</a>
          <a class="nav-link" routerLink="/sign-up"  *ngIf="!fireService.isLoggedIn" routerLinkActive="active">Sign Up</a>
          <a class="nav-link" routerLink="/signin"  *ngIf="fireService.isLoggedIn"style="cursor:pointer" (click)="fireService.SignOut()">Logout</a>
      </ul>
  </div>
</nav>

<!-- render linked page in a container class-->
<div class="container-page">
  <router-outlet></router-outlet>
</div>