<div class="container">

  <!-- Navbar-->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
    <!--  <mat-icon (click)="sidenav.toggle()">menu</mat-icon>-->
      </button>
      <h1>The Adventurers Inn</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button routerLink="/home"> Home </a>
        <a mat-button routerLink="/signup"> Signup </a>
        <a mat-button routerLink="/signin"> Sign in </a>
        <a mat-button routerLink="/createcharacter"> Create Character </a>
       <!-- <a mat-button (click)="logOut()"> Log out </a>-->
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- End of Nabar-->




  
  
  <router-outlet></router-outlet>
</div>

