<!-- Create Character Input -->
<div class="row pt-5">
  <div class="col-md-5 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Create Your Own Character</h3>
      </div>
      <div class="card-body">
        <input type="text" class="form-control" style="width: 30rem;" [(ngModel)]="userName" placeholder="Name">
        <input type="text" class="form-control" style="width: 30rem;" [(ngModel)]="userLevel" placeholder="Level">
        <input type="text" class="form-control" style="width: 30rem;" [(ngModel)]="userCharacter" placeholder="Character">
        <p></p>
        <!-- Submit Button -->
        <button type="button" (click)="CreateRecord()" [disabled]="!userName || !userLevel || !userCharacter" 
                class="btn btn-dark float-right" style="background-color: #E10000">Create User</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Character Input -->