<!-- Create Character Input -->
<div class="row" style="margin-top: 25px;">
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="userName" placeholder="Name">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="userLevel" placeholder="Level">
    </div>
    <div class="col-md-3">
      <input type="text" class="form-control" [(ngModel)]="userCharacter" placeholder="Character">
    </div>
    <!-- Submit Button -->
    <div class="col-md-3">
      <button type="button" (click)="CreateRecord()" [disabled]="!userName || !userLevel || !userCharacter" class="btn btn-primary">Create User</button>
    </div>
    <!-- End of Submit Button -->
  </div>
  <!-- End of Character Input -->